<main class="main">
    {{#with data}}
    <div class="main__content">
    <h1 class="title title--center">{{name}}</h1>

    <a method="POST" href="/spotify-track_add?playlistId={{playlistId}}" class="add-button" >
        <img src="/svg/add_button.svg" >
        Додати до плейлiста
    </a>
    <ul class="tracks">
        {{#each tracks}}
        <li class="track">
            <img src="{{image}}">
            <div class="track__content">
                <strong class="track__name">{{name}}</strong>
                <em class="track__author">{{author}}</em>
            </div>
            <a href="/spotify-track-delete?playlistId={{../playlistId}}&trackId={{id}}">
                <img src="/svg/delete_button.svg">
            </a>
        </li>
        {{/each}}
    </ul>
    </div>
    {{/with}}
</main>