{{#with data.purchases}}
 {{!-- {{#each list}} --}}
<a href='/purchase-info?id={{id}}' class="linck">
  <div class='purchase-item'>
    <h1 class="title_h1">{{title}}</h1>
    <div class='purchase-item__block'>
      <span class='title'>ID: {{id}}</span>
    </div>
    <div class='purchase-item__block'>
      <span class='title'>Товари</span>
      <span class='text'>{{product}}</span>
    </div>
    <div class='purchase-item__block'>
      <span class='title'>Сума замовлення</span>
      <span class='text'>{{totalPrice}} грн</span>
    </div>
    <div class='purchase-item__block'>
      <span class='title'>Нараховані бонуси</span>
      <span class='text'>{{bonus}} грн</span>
    </div>
  </div>
</a>
{{>divider}}

      {{!-- {{/each}} --}}
    {{/with}}